---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <main class="prose mx-auto my-8">
    <h1 class="text-2xl mb-4">Polimappers</h1>

    <p>
      PoliMappers is a volunteer students' group, based at <a
        href="http://www.polimi.it/"
        target="_blank"
        rel="noopener noreferrer">Politecnico di Milano</a
      >, created in December 2016. The mission of the group is to train and
      motivate the next generation of volunteer mappers and to do mapping using
      free and open source software within the university as well as primary and
      secondary schools.
    </p>

    <p>
      PoliMappers is the first European chapter of the international association <a
        href="http://www.youthmappers.org/"
        target="_blank"
        rel="noopener noreferrer">YouthMappers</a
      >, founded in 2014 in the United States of America with the support of <a
        href="https://www.usaid.gov/"
        target="_blank"
        rel="noopener noreferrer"
        >United States Agency for International Development</a
      > (USAID). YouthMappers aims to cultivate a new generation of leaders in the
      field of open geospatial data and technologies, with the purpose of creating
      through them resilient communities of the future. It is a global network that
      currently includes 446 chapters in 83 countries (updated 02/2026). In accordance
      with the terms of participation of YouthMappers, the association's activities
      include at least two mapping activities per year: mapping the local area and
      participating in a YouthMappers network promoted campaign.
    </p>
  </main>
</Layout>
