---
import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project: CollectionEntry<"projects">) => ({
    params: { slug: project.id },
    props: project,
  }));
}

import Layout from "../../layout/Layout.astro";

type Props = CollectionEntry<"projects">;
const project = Astro.props;
const { Content } = await render(project);
---

<Layout>
  <main>
    <article class="prose lg:prose-lg mx-auto my-8 px-4">
      <h1>{project.data.title}</h1>

      <Content />
    </article>
  </main>
</Layout>
