---
import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const events = await getCollection("events");
  return events.map((event: CollectionEntry<"events">) => ({
    params: { slug: event.id },
    props: event,
  }));
}

import Layout from "../../layout/Layout.astro";

type Props = CollectionEntry<"events">;
const event = Astro.props;
const { Content } = await render(event);
---

<Layout>
  <main>
    <article class="prose mx-auto my-8">
      <Content />
    </article>

    {
      event.data.attachments && (
        <div class="mx-auto my-8 max-w-prose">
          <h2 class="text-2xl font-bold mb-4">Attachments</h2>

          {event.data.attachments.map((attachment) => (
            <a
              href={attachment}
              class="btn btn-primary btn-outline w-full"
              target="_blank"
            >
              Download {attachment.split("/").pop()}
            </a>
          ))}
        </div>
      )
    }
  </main>
</Layout>
