---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "../../layout/Layout.astro";
import EventsList from "../../components/EventsList.astro";

const events = await getCollection("events");
---

<Layout>
  <main class="w-4/6 mx-auto my-8">
    <h1 class="text-2xl mb-4">Events</h1>

    <EventsList />
  </main>
</Layout>
